.main {
  padding: 80px;
  //   background-color: #fffcf0;
  background-color: #f5f1e4;
}

.container {
  gap: 32px;
  display: grid;
  justify-items: center;
}

.title {
  gap: 16px;
  display: grid;
  justify-items: center;

  h1 {
    font-size: 48px;
  }

  p {
    font-size: 14px;
    font-family: "Inter";
  }
}

.products {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
