.container {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
  height: 30px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 0px;
  border: none;
  border-radius: 60px;
  background-color: #c29958;
  color: white;
  transition: 600ms;
  &:hover {
    background-color: #957643;
  }
}

.iconButton {
  padding: 8px;
}

.outlined {
  border: 1px solid;
  background-color: transparent;
  color: black;
  &:hover {
    background-color: #ebebeb;
  }
}

/* Phone Portrait */
@media screen and (max-width: 767px) and (orientation: portrait) {
  // .container {
  //   width: fit-content;
  //   font-family: inherit;
  //   padding: 8px 20px;
  //   border-radius: 60px;
  //   border: 1px solid;
  //   font-weight: 500;
  //   font-size: 12px;
  // }
}
