.main {
  gap: 32px;
  padding: 80px;
  display: grid;
  background-color: #fffcf0;
  @media (max-width: 600px) {
    display: none;
  }
}

.storySection {
  display: flex;
  flex-direction: column;
  background-color: #fffcf0;
}

.content {
  font-size: 42px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.image {
  margin: 0 16px;
  height: 50px;
  vertical-align: middle;
}

.statistics {
  gap: 16px;
  display: grid;
  background-color: #fffcf0;
  grid-template-columns: repeat(4, 1fr);
}

.divider {
  border-top: 1px solid #dcd9cd;
  width: 100%;
}

.stat {
}

.stat h1 {
  font-size: 92px;
}

.stat p {
  font-size: 14px;
  line-height: 1.5;
}
