.productCard {
  width: 300px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &:hover {
    .imageContainer {
      div {
        border: none;
        color: #231918;
        background-color: #fffcf0;
      }
    }

    .productContainer div h3 {
      text-decoration: underline;
    }

    .material {
    }

    .price {
    }
  }
}

.imageContainer {
  height: 300px;
  padding: 12px;
  cursor: pointer;
  background-size: cover !important;
  background-position: center !important;
}

.productContainer {
  gap: 12px;
  display: grid;
  padding: 15px 0;
}

.productContainer div h3 {
  cursor: pointer;
}

.material {
  font-family: "Inter";
  font-size: 12px;
}

.priceContainer {
  gap: 8px;
  display: flex;
}

.price {
  font-size: 14px;
  font-weight: 700;
}
