.main {
  padding: 100px 80px 80px 80px;
  background-color: #fffcf0;
}

.container {
  gap: 32px;
  display: grid;
}

.addToCart,
.details {
  gap: 32px;
  display: grid;
  height: fit-content;
}

.description {
  line-height: 1.5;
  font-size: 14px;
  font-family: "Core Sans AR45";
}

.divider {
  border-top: 1px solid #dcd9cd;
}

.product {
  gap: 64px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.infos {
  gap: 16px;
  padding: 16px;
  display: flex;
  color: #231918;
  border: 1px solid #f0ede3;
  font-family: "Core Sans AR45";
  justify-content: space-between;
  p {
    font-size: 12px;
  }
  i {
    font-size: 16px;
  }
}

.verticalDivider {
  border-left: 1px solid #f0ede3;
  height: 100%;
}

.products {
  gap: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.details {
}

.images {
  gap: 16px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;

  div {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }
}

.smallImages {
  gap: 16px;
  display: grid;

  div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
}

.shopDetails {
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.shopDetailContainer {
  gap: 16px;
  display: grid;
}
