.main {
  padding: 100px 80px 80px 80px;
  background-color: #fffcf0;

  @media (max-width: 600px) {
    padding: 70px 20px;
  }
}

.container {
  gap: 32px;
  display: grid;

  @media (max-width: 600px) {
    gap: 8px;
  }
}

.addToCart,
.details {
  gap: 32px;
  display: grid;
  height: fit-content;
}

.description {
  line-height: 1.5;
  font-size: 14px;
  font-family: "Inter";
}

.divider {
  border-top: 1px solid #dcd9cd;
}

.product {
  gap: 64px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;

  @media (max-width: 600px) {
    gap: 12px;
    grid-template-columns: 1fr;
  }
}

.infos {
  gap: 16px;
  padding: 16px;
  display: flex;
  color: #231918;
  border: 1px solid #f0ede3;
  font-family: "Inter";
  justify-content: space-between;

  p {
    font-size: 12px;

    @media (max-width: 600px) {
      font-size: 10px;
    }
  }
  i {
    font-size: 16px;

    @media (max-width: 600px) {
      font-size: 12px;
    }
  }
}

.verticalDivider {
  border-left: 1px solid #f0ede3;
  height: 100%;
}

.products {
  gap: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  @media (max-width: 600px) {
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.details {
}

.images {
  gap: 16px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  div {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;

    @media (max-width: 600px) {
      height: 300px;
    }
  }
}

.smallImages {
  gap: 16px;
  display: grid;

  @media (max-width: 600px) {
    height: 100px !important;
    grid-template-columns: repeat(3, 1fr);
  }

  div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
}

.shopDetails {
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.shopDetailContainer {
  gap: 16px;
  display: grid;

  h3 {
    @media (max-width: 600px) {
      font-size: 14px;
    }
  }
}
