.main {
  top: 23px;
  position: absolute;
  padding: 20px 80px;
  background-color: transparent;
  width: -webkit-fill-available;
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);

  i {
    font-size: 20px;
    padding: 0px 10px;
  }
}

.logo {
  display: flex;
  color: white;
  cursor: pointer;
  font-size: 24px;
  justify-content: center;

  img {
    width: 100px;
  }
}

.group {
  gap: 12px;
  display: flex;
  align-items: center;
}

.groupEnd {
  justify-content: flex-end;
}

.cartContainer {
  gap: 16px;
  display: grid;
}

.cartHeader {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.cartItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    color: red;
    cursor: pointer;
  }
}

.cartItem {
  gap: 16px;
  display: flex;
  align-items: center;

  img {
    width: 50px;
    height: 50px;
  }
}

.cartItemInfos {
  display: grid;
}

// Mobile version
.mainMobile {
  top: 23px;
  padding: 10px;
  position: absolute;
  background-color: transparent;
  width: -webkit-fill-available;
}

.logoMobile {
  display: flex;
  color: white;
  cursor: pointer;
  font-size: 24px;
  justify-content: center;

  img {
    width: 80px;
  }
}
