.main {
  gap: 32px;
  display: grid;
  background-color: #fffcf0;
  grid-template-columns: repeat(2, 1fr);
}

.formInfos {
  padding: 120px 80px 80px 80px;
}

.infos {
  gap: 16px;
  display: grid;
}

.address {
  gap: 16px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.cartContainer {
  gap: 16px;
  display: grid;
  padding: 32px;
  background-color: #faf6e4;
  padding: 120px 80px 80px 80px;
}

.cart {
  gap: 16px;
  display: grid;
  height: fit-content;
}

.cartItem {
  gap: 16px;
  display: flex;
  height: fit-content;
  align-items: center;

  img {
    width: 50px;
    height: 50px;
  }
}

.cartItemInfos {
  display: grid;
}

.cartTotal {
  gap: 16px;
  display: grid;
  margin-top: 40px;
}
