.main {
  padding: 4px 80px;
  background-color: #fffcf0;
}

.text {
  gap: 8px;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  font-family: Core Sans AR45;
}
